# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/en/latest/topics/scrapyd.html

[settings]
default = stockcrawl.settings

[deploy]
url = http://scrapyd.lexuan.net:6800/
project = stockcrawl
